<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200959282504-7slmmdpppkg93icv9016e3nmjgc3vfju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200959282504-7slmmdpppkg93icv9016e3nmjgc3vfju</string>
	<key>API_KEY</key>
	<string>AIzaSyATGpoAe0USMx6gTgoAu_u-4FyZz3Ozr4o</string>
	<key>GCM_SENDER_ID</key>
	<string>200959282504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mdk.bookSummarizerApp</string>
	<key>PROJECT_ID</key>
	<string>book-summerizer</string>
	<key>STORAGE_BUCKET</key>
	<string>book-summerizer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200959282504:ios:59c347c0d153569ace777d</string>
	<key>DATABASE_URL</key>
	<string>https://book-summerizer.firebaseio.com</string>
</dict>
</plist>